@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
  }

  .hans-container {
    @apply w-[85vw] xl:w-[95vw] m-auto;
  }
  .material-symbols-outlined {
    @apply text-3xl text-[#272343];
  }
  .gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  .gallery .tes {
    width: 100%;
    height: auto;
  }

  .hover-underline:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ffd803;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .hover-underline:hover:after {
    width: 100%;
    left: 0;
  }
}
